<a href="https://colab.research.google.com/github/davamuhamad/Belajar-Pyspark/blob/main/Belajar_Pyspark_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pyspark - 2 
- Read from another type file
- Review Sekilas isi spark dataframe

In [1]:
%pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 15.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=5f12caa5aa0371c83ae5ea42988f7eb711f2cf5fcbefaab49dfb8d445d24a0ff
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
import pyspark
from pyspark.sql.types import *
from pyspark.sql.session import SparkSession
from pyspark.sql.functions import *

In [3]:
spark = SparkSession.builder.appName('DataFrame Basics').getOrCreate()

###READ FROM ANOTHER TYPE FILE

####READ DATA ARRAY

In [4]:
mydata = (('DKI JAKARTA',15328),
('JAWA BARAT',1320),
('JAWA TENGAH',1030),
('DI YOGYAKARTA',1174),
('JAWA TIMUR',813),
('BANTEN',1237))

df_from_array = spark.createDataFrame(mydata).toDF("province", "density")

df_from_array.show()

+-------------+-------+
|     province|density|
+-------------+-------+
|  DKI JAKARTA|  15328|
|   JAWA BARAT|   1320|
|  JAWA TENGAH|   1030|
|DI YOGYAKARTA|   1174|
|   JAWA TIMUR|    813|
|       BANTEN|   1237|
+-------------+-------+

In [5]:
myDataArray = (('Banten',1222258,'Lebak'),
('Banten',1175148,'Pandeglang'),
('Banten',1435003,'Serang'),
('Banten',2619803,'Tangerang'),
('DKI Jakarta',23340,'Kepulauan Seribu'),
('DKI Jakarta',2185711,'Jakarta Selatan'),
('DKI Jakarta',2843816,'Jakarta Timur'),
('DKI Jakarta',914182,'Jakarta Pusat'),
('DKI Jakarta',2463560,'Jakarta Barat'),
('DKI Jakarta',1747315,'Jakarta Utara'))

Buatlah dataframe dari data array diatas

In [6]:
df_from_array = 

df_from_array.show()

+-----------+-------+----------------+
|   province|    pop|        district|
+-----------+-------+----------------+
|     Banten|1222258|           Lebak|
|     Banten|1175148|      Pandeglang|
|     Banten|1435003|          Serang|
|     Banten|2619803|       Tangerang|
|DKI Jakarta|  23340|Kepulauan Seribu|
|DKI Jakarta|2185711| Jakarta Selatan|
|DKI Jakarta|2843816|   Jakarta Timur|
|DKI Jakarta| 914182|   Jakarta Pusat|
|DKI Jakarta|2463560|   Jakarta Barat|
|DKI Jakarta|1747315|   Jakarta Utara|
+-----------+-------+----------------+

####READ FROM PANDAS DATAFRAME
- Download file dummy pada alamat berikut https://www.dropbox.com/s/65mohvoyjshtqa9/penduduk2015.csv
- Create dataframe menggunakan pandas dari file yang sudah didownload tersebut 
- Buatkan spark dataframe dari pandas dataframe yang sudah dibuat

In [9]:
!wget https://www.dropbox.com/s/65mohvoyjshtqa9/penduduk2015.csv

--2023-03-07 02:42:45--  https://www.dropbox.com/s/65mohvoyjshtqa9/penduduk2015.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.67.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.67.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/65mohvoyjshtqa9/penduduk2015.csv [following]
--2023-03-07 02:42:46--  https://www.dropbox.com/s/raw/65mohvoyjshtqa9/penduduk2015.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc68b82192b9df06da205006c3ae.dl.dropboxusercontent.com/cd/0/inline/B3zYkLNqD5N8Rqi7VtrKoIZKfmAjL3JwMFyKrqPbFWMWPcnCG3ONm6k9uTomtMMK80EbpXI3LyNVAOtySIS0WwqKj-yfoPHbMT_44kWK5dSMgUASzQqnMukacKccHyfEWlBkTtxv6LLre8a1yaG7ceT9pR_euyzgSgX82O_qSHuaaw/file# [following]
--2023-03-07 02:42:46--  https://uc68b82192b9df06da205006c3ae.dl.dropboxusercontent.com/cd/0/inline/B3zYkLNqD5N8Rqi7VtrKoIZKfmAjL3JwMFyKrqPbFWMWPcnCG3ONm6k9uTomtMMK80EbpXI3LyNVAOtySIS0WwqKj-yfoPHbMT_44kWK5dSMgUASzQqnMukacKccHyfEWlBkTtxv6LLre8a1yaG7ceT9pR_euyzgSgX82O_qSHuaaw/file
Resolving uc68b82192b9df06da205006c3ae.dl.dropboxusercontent.com (uc68b82192b9df06da205006c3ae.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc68b82192b9df06da205006c3ae.dl.dropboxusercontent.com (uc68b82192b9df06da205006c3ae.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 120 [text/plain]
Saving to: ‘penduduk2015.csv’

penduduk2015.csv    100%[===================>]     120  --.-KB/s    in 0s

2023-03-07 02:42:46 (14.4 MB/s) - ‘penduduk2015.csv’ saved [120/120]

In [10]:
import pandas as pd 

pddf =

In [11]:
pddf.head()

        propinsi  penduduk
0    DKI JAKARTA     15328
1     JAWA BARAT      1320
2    JAWA TENGAH      1030
3  DI YOGYAKARTA      1174
4     JAWA TIMUR       813

In [12]:
df_from_pandas = 
df_from_pandas.show()

+-------------+--------+
|     propinsi|penduduk|
+-------------+--------+
|  DKI JAKARTA|   15328|
|   JAWA BARAT|    1320|
|  JAWA TENGAH|    1030|
|DI YOGYAKARTA|    1174|
|   JAWA TIMUR|     813|
|       BANTEN|    1237|
+-------------+--------+

####READ FROM CSV

In [13]:
df_from_csv =
df_from_csv.show()

+-------------+--------+
|     propinsi|penduduk|
+-------------+--------+
|  DKI JAKARTA|   15328|
|   JAWA BARAT|    1320|
|  JAWA TENGAH|    1030|
|DI YOGYAKARTA|    1174|
|   JAWA TIMUR|     813|
|       BANTEN|    1237|
+-------------+--------+

####READ JSON FILE
- Download file dummy json pada alamat berikut https://www.dropbox.com/s/8wpyzukkmmn3t6g/penduduk2015.json
- Buat spark dataframe dari data json tersebut

In [14]:
!wget https://www.dropbox.com/s/8wpyzukkmmn3t6g/penduduk2015.json

--2023-03-07 02:46:38--  https://www.dropbox.com/s/8wpyzukkmmn3t6g/penduduk2015.json
Resolving www.dropbox.com (www.dropbox.com)... 162.125.5.18, 2620:100:601d:18::a27d:512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.5.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/8wpyzukkmmn3t6g/penduduk2015.json [following]
--2023-03-07 02:46:38--  https://www.dropbox.com/s/raw/8wpyzukkmmn3t6g/penduduk2015.json
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc295143cffad6ff053ab3efe4db.dl.dropboxusercontent.com/cd/0/inline/B3yPE0XEA6FHNPfvrpmvmljirbIHdQ3uFzfzIuXA-QPhzJiPEA3531viVx6jtbgdpy3dFuTxDKxNlJ0nwvX0BOlUsLPatJMX1GFWpBmfoRghm8oVayCUq6EwWqzrM-7JwF0TXlZobbCl3hKXd0qf4xbiY6U_9A_MIzrlMZ0kUe6CLA/file# [following]
--2023-03-07 02:46:38--  https://uc295143cffad6ff053ab3efe4db.dl.dropboxusercontent.com/cd/0/inline/B3yPE0XEA6FHNPfvrpmvmljirbIHdQ3uFzfzIuXA-QPhzJiPEA3531viVx6jtbgdpy3dFuTxDKxNlJ0nwvX0BOlUsLPatJMX1GFWpBmfoRghm8oVayCUq6EwWqzrM-7JwF0TXlZobbCl3hKXd0qf4xbiY6U_9A_MIzrlMZ0kUe6CLA/file
Resolving uc295143cffad6ff053ab3efe4db.dl.dropboxusercontent.com (uc295143cffad6ff053ab3efe4db.dl.dropboxusercontent.com)... 162.125.5.15, 2620:100:601d:15::a27d:50f
Connecting to uc295143cffad6ff053ab3efe4db.dl.dropboxusercontent.com (uc295143cffad6ff053ab3efe4db.dl.dropboxusercontent.com)|162.125.5.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364 [text/plain]
Saving to: ‘penduduk2015.json’

penduduk2015.json   100%[===================>]     364  --.-KB/s    in 0s

2023-03-07 02:46:39 (48.9 MB/s) - ‘penduduk2015.json’ saved [364/364]

In [15]:
!cat penduduk2015.json

[
 {
   "propinsi": "DKI JAKARTA",
   "penduduk": 15328
 },
 {
   "propinsi": "JAWA BARAT",
   "penduduk": 1320
 },
 {
   "propinsi": "JAWA TENGAH",
   "penduduk": 1030
 },
 {
   "propinsi": "DI YOGYAKARTA",
   "penduduk": 1174
 },
 {
   "propinsi": "JAWA TIMUR",
   "penduduk": 813
 },
 {
   "propinsi": "BANTEN",
   "penduduk": 1237
 }
]

In [16]:
dfj = 
dfj.show()

+--------+-------------+
|penduduk|     propinsi|
+--------+-------------+
|   15328|  DKI JAKARTA|
|    1320|   JAWA BARAT|
|    1030|  JAWA TENGAH|
|    1174|DI YOGYAKARTA|
|     813|   JAWA TIMUR|
|    1237|       BANTEN|
+--------+-------------+

####SIMPLE CASE
- Buatlah spark dataframe dari sample data array berikut 
- Cleansing data tersebut sesuiakan nama provinsi menjadi format yang sama
- Hitung Max,Min,Sum,Count,Avg berdasarkan provinsi dari data terseut

In [17]:
myDataArray = (('Banten',1222258,'Lebak'),
('Banten',1175148,'Pandeglang'),
('Banten',1435003,'Serang'),
('Banten',2619803,'Tangerang'),
('DKI Jakarta',23340,'Kepulauan Seribu'),
('DKI Jakarta',2185711,'Jakarta Selatan'),
('DKI Jakarta',2843816,'Jakarta Timur'),
('DKI Jakarta',914182,'Jakarta Pusat'),
('DKI Jakarta',2463560,'Jakarta Barat'),
('DKI Jakarta',1747315,'Jakarta Utara'),
('Jakarta',156412,'JakPus'),
('BANTEN',1123,'TangSel')
)